a.buttons {
  width: 300px;
  text-decoration: none;
  color: #009900;
  padding-top: 25px;
  vertical-align: middle;
  text-align: center;
  display: block;
  font: normal 27px arial;
}

form {
  padding-left: 30px;
  background-color: #efddaa;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}