body {
  background-color: #d4edda;
  margin-left: 1%;
}

#login {
  background-color: #80ff80;
}
#register {
  background-color: #80ff80;
}
#auth_block {
  width: 20%;
  position: absolute;
  right: 0;
}
#img_view {
   width: 70%;
}
h1 {
  color: #20aa20;
}
h2 {
  color: #20aa20;
}
h3 {
  color: #20aa20;
}
form {
  width: 70%;
}
#back {
  width: 100px;
  height: 30px;
  background-color: #80ff80;
}
#img_view{
  position: absolute;
}
#title_of_cloth {
  font: normal 27px arial;
}
a {
    color: #20aa20;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    text-decoration: underline;
}
a:active {
    color: #80ff80;
}
#buttons {
  width: 10%;
  height: 3%;
  color: #80ff80;
  background-color: #80ff80;
}
#main_page_img {
  border: 2px solid #e0fddf;
}
li {
  width: 19%;
  display: inline-block;
}
.btn-primary{
  background-color: #80ff80;
}
#Cloth {
  width: 30%;
  display: inline-block;
}
#administrator_email {
  position: absolute;
  right: 0;
}