{% extends "base_without_auth_block.html" %}
{% block authorization %}
<div class="container text-center" id="auth_block">
    <div align="center">
        <h1>Склад тканей</h1>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">Выход</a>
        {% else %}
        <p>
            <a class="btn btn-primary " id="register" href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" id="login" href="/login">Войти</a> <!-- 00ff00-->
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
