{% extends "base.html" %}

{% block main %}
{% if current_user.account_type == 'Администратор' %}

<li><a class="btn btn-primary" href='/add_cloth'>Добавить ткани</a></li>
<li><a class="btn btn-primary" href='/favourites'>Избранное</a></li>
<li><a class="btn btn-primary" href='/order'>Ваш заказ</a></li>
<li><a class="btn btn-primary" href='/user_orders'>Заказы пользователей</a></li>

{% endif %}
<form id="search" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.usage.label }}<br>
        {{ form.usage(class="form-control") }}<br>
        {% for error in form.usage.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.type.label }}<br>
        {{ form.type(class="form-control") }}<br>
        {% for error in form.type.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", value="Найти") }}</p>
</form>
{% for cloth in cloths %}
<div id="Cloth">
    <a class="buttons" href="/view{{ cloth.get_url() }}">
        <div id="title_of_cloth">{{ cloth.title }}<br></div>
        <img id="main_page_img" src="{{ cloth.get_images(False) }}"><br>
        Цвета: {{ cloth.colors }}<br>
        {{ cloth.length }} метров осталось<br>
        Цена за 1 метр: {{ cloth.price }} р.<br>
        Страна-производитель: {{ cloth.country_id }}<br>
        {% if current_user.account_type == 'Администратор' %}
        <a class="btn btn-primary " href="{{ cloth.get_url() }}">Редактировать</a>
        <a class="btn btn-primary " href="/delete{{ cloth.get_url() }}">Удалить</a>
        <br><br>
        {% endif %}
    </a>
</div>
{% endfor %}
{% endblock %}